#playerDetails { width: 200px; }
#playerDetails div { float: right; font-style: italic; color: red; }

#characterDetails { width: 200px;}
#characterDetails div { float: right;  font-style: italic; color: red; }

.title { font-weight: bold; }
.action { color: blue; }
.combine { color: blue; }


#bod { color: brown; }
#inv { color: darkRed; }
#inventory { color: darkblue; }
#environ { color: darkgreen; }
#place {color: darkGreen; }
#respond { color: black; border: 1px solid darkGreen; }

.propTitle { color: black; font-weight: bold; }
.placeTitle { font-weight: bold; }

#exits { color: brown; }
.exitActions { color: black; }
.exitAction { color: blue; }


#testArea { border: 1px solid blue; }
